h1 {
    padding-bottom: 5px;
    color: darkblue
}

h2 {
    color: darkblue
}


.site-body {
    padding: 20px;
    background-color: ghostwhite;
}

.site-wrapper {
    background-color: inherit;
    padding: 10px;
}

.site-header {
    background-color: inherit;
}

.site-main {
    background-color: inherit;
}

.site-content {
    padding-bottom: 20px;
}

.category_header {
    display: flex;
    align-items: center;
}

.category_h4 {
    padding-right: 5px;
    padding-top: 5px;
}


.category_form {
    background-color: inherit;
    padding-left: 10px;
}

.categories {
    display: flex;
}

#id_categories * {
    display: flex;
    margin: 2px;
}

.auction_listing {
    padding-left: 10px;
    color: black;
}

.signed-in {
    padding-bottom: 2px;
}

img {
    height: 100px;
    padding-bottom: 10px;
}