h1 {
    padding-bottom: 5px;
    color: darkblue
}

h2 {
    padding-bottom: 5px;
    color: darkblue
}


.site-body {
    padding: 20px;
    background-color: ghostwhite;
}

.site-wrapper {
    background-color: inherit;
    padding: 10px;
}

.site-header {
    background-color: inherit;
}

.site-main {
    background-color: inherit;
}

.site-content {
    padding-bottom: 20px;
}

.categories {
    display: flex;
}

#id_categories * {
    display: flex;
    padding-bottom: 5px;
    margin: 2px;
}

.signed-in {
    padding-bottom: 2px;
}

img {
    height: 100px;
}