{% extends "auctions/layout.html" %}

{% block body %}
    {% if all %}
        <h2>Active Listings</h2>
        {% for listing in all %}
        <h3>{{ listing.title }}</h3>
        <p>{{ listing.description }}</p>
    {% endfor %}
    {% else %}
        <h2>Active Listings</h2>
        <h3>Bids</h3>
        {% for listing in bids %}
            <h2>{{ listing.title }}</h3>
            <p>{{ listing.description }}</p>
        {% endfor %}
        <h3>Auctions</h3>
        {% for auction in auctions %}
            <h4>{{ auction.listing.title }}</h4>
            {% if auction.active is True %}
                <p>This auction is still active</p>
            {% endif %}
        {% endfor %}

    {% endif %}

{% endblock %}