{% extends "auctions/layout.html" %}

{% block body %}
    <main class="site-main">
    <div class="site-content">

        {% if authenticated %}
            <h2>Listings</h2>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <h3>Categories</h3>
                    {{ category_form.categories }}
                    <input type="submit" value="Submit">
                </form>

            {% for auction in all %}
                <div><a href="{{ auction.listing.id }}">
                    {% if listing.image is not '' %}
                        <img src="{{ auction.listing.image }}"/>
                    {% endif %}
                    <h3>{{ auction.listing.title }}</h3>
                    <p>{{ auction.listing.description }}</p>
                    <h4>{{ auction.listing.high_bid.amount }}</h4>
                    <h4>Listing (Auction) Owner ?</h4>
                    <h4>If my auction is it active</h4>
                    <h4>My Bid ?</h4>
                </a></div>
            {% endfor %}
        {% else %}
            <h2>Listings</h2>
            {% for auction in all %}
                <div><a href="{{ auction.listing.id }}">
                    {% if listing.image is not '' %}
                        <img src="{{ auction.listing.image }}"/>
                    {% endif %}
                    <h3>{{ auction.listing.title }}</h3>
                    <p>{{ auction.listing.description }}</p>
                    <h4>{{ auction.listing.high_bid.amount }}</h4>
                </a></div>
            {% endfor %}
        {% endif %}
    </div><!-- site-content -->
    </main><!-- site-main -->

{% endblock %}