{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ listing.title }}</h1>
    {% if listing.image is not '' %}
        <img src="{{ listing.image }}"/>
    {% endif %}

    <p>{{ listing.description }}</p>
    <p>High Bid ${{ listing.high_bid.amount }}</p>
    <p>This auction is from {{ listing.username }}</p>
    {% if listing.auction_listing.active is True %}
        {% if listing.auction_listing not in watchlist %}
            <p><a href="{% url 'watchlist' listing.id %}">Add to your watchlist</a></p>
        {% else %}
            <p><a href="{% url 'watchlistremove' listing.id %}">Remove from your watchlist</a></p>
        {% endif %}

        <form action="{% url 'bid' listing.id %}" method="post">
            {% csrf_token %}
            <label for="quantity"> Bid > ${{ listing.high_bid.amount }}:</label>
            <input type="number" id="bid" name="bid" min="{{ min_bid }}" max="10000">
            <input type="submit">
        </form>

    {% else %}
        <p>This auction is no longer active</p>
    {% endif %}

{% endblock %}