{% extends "auctions/layout.html" %}

{% block body %}
    <main class="site-main">
    <div class="site-content">
        {% if watchlist  %}
            <h2> My Watchlist </h2>
            <hr>
            {% for auction in watchlist %}
                <div><a href="{{ auction.listing.id }}">
                    {% include "auctions/listing_summary.html" %}
                    <div class="auction_listing">
                        <p style="color: darkblue">More Details....</p>
                    </div>
                </a></div>
            {% endfor %}
        {% else %}
            <h3 style="color: darkblue">Watchlist is Empty</h3>
        {% endif %}
    </div><!-- site-content -->
    </main><!-- site-main -->
{% endblock %}