{% extends "auctions/layout.html" %}

{% block body %}
    {% if watchlist  %}
        <h1> My Watchlist </h1>
        {% for auction in watchlist %}
            <div><a href="{{ auction.listing.id }}">
                {% if listing.image is not '' %}
                    <img src="{{ auction.listing.image }}"/>
                {% endif %}
                <h3>{{ auction.listing.title }}</h3>
                <p>{{ auction.listing.description }}</p>
                <h4>{{ auction.listing.high_bid.amount }}</h4>
            </a></div>
        {% endfor %}
    {% else %}
        <h1>My Watchlist is Empty</h1>
    {% endif %}
{% endblock %}