textarea {
    min-height: 100px;
}

p {
    margin: 0;
}

#new-post-view {
    border: double;
    border-color: darkgrey;
    margin: 5px;
    padding: 5px;
}

#posts-view {
    border: double;
    border-color: darkgrey;
    margin: 5px;
    padding: 5px;
}

.btn-primary {
    margin-top: 10px;
}