{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="all-posts-view">
        <h2>All Posts</h2>
        <div id="new-post-view">
            <h3>New Post</h3>
            <form id="compose-form" onsubmit="post_form(event)">
            <textarea class="form-control" id="compose-body" name="body" placeholder="Body"></textarea>
            <input type="submit" value="Post" class="btn btn-primary"/>
            </form>
        </div>
    
        <div id="all-posts-posts-view">
        </div>
    </div>

    <div id="profile-view">
        <div id="profile-user">
        </div>
        <div id="profile-posts-view">
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}
