{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ entry }}
{% endblock %}

{% block body %}
    {% if content %}
        <title>{{ entry }}</title>
        {{ content|safe }}
    {% else %}
        <h1>There is no entry for "{{ entry }}"!</h1>
    {% endif %}
    
    <form action="{% url 'wiki:edit' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="entry" value="{{ entry }}">
        <input type="hidden" name="content" value="{{ content }}">
        <input type="submit" value="Edit">
    </form>
    
{% endblock %}