<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Single Page</title>
    </head>
    <body>
        <h1>Hello John</h1>
        <script>
            function submitForm(event) {
                event.preventDefault();
                console.log(event.target);

                const url = "{% url 'scratch' %}";
                console.log(url)
                const formData = new FormData(event.target);
                console.log(formData);
                
                const data = {};
                formData.forEach((value, key) => (data[key] = value));
                console.log(data)

                fetch(url, {
                    method: "POST",
                    body: JSON.stringify(data),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                })
                .then((response) => response.json())
                .then(json => console.log(json))
            }
        </script>
        <div id="compose-view">
            <h3>Compose View</h3>
            <form id="compose-form" onsubmit="submitForm(event)">
                <label>Email</label>
                <div class="form-group">
                    <input class="form-control" id="compose-name" name="name" placeholder="Name">
                    <input class="form-control" id="compose-subject" name="Subject" placeholder="Subject">
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
