<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Single Page</title>
    </head>
    <body>
        <h1>Hello John</h1>
        <script>
            function handleA(event) {
                event.preventDefault();
                console.log(event.target);
            }
        </script>
        <div id="emails--view">
            <h3>Inbox</h3>
                <a class="email-link" href="/scratch" onclick="handleA(event)">Call HandleA()</a>
            </form>
        </div>
    </body>
</html>
