{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
    </div>

    <title>Single Page</title>
    <style>
        div {
        display: none;
    }
    </style>
    <script>
        function showPage(page) {
            document.querySelectorAll(`div`).forEach(div => {
                div.style.display = `none`;
            });

            document.querySelector(`#${page}`).style.display = `block`;
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('button').forEach(button => {
                button.onclick = function () {
                    showPage(this.dataset.page);
                };
            });
        });
    </script>



    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log("DOM Content loaded in Scratch......")
            document.querySelector('form').onsubmit = function() {
                console.log("On Submit.....");
            }
        })
        
    </script>
        
    <div id="compose-view">
        <h3>Compose View</h3>
        <form id="compose-form" data-myform="form1" action="{% url 'scratch' %}" method="post">
            <div class="form-group">
                <input class="form-control" id="compose-subject" name="subject" placeholder="Subject">
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}