textarea {
    min-height: 400px;
}

p {
    margin: 0;
}

.email-link {
    color: black;
    border: solid;
}

.read-email {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.unread-email {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

.timestamp {
    color: grey;
}
