a {
    text-decoration: none;
    color: black;
}

.site-wrapper {
    background-color: lightgray;
}

.site-header {
    background-color: lightgray;
}

.site-main {
    background-color: lightgray;
}

.site-nav {
    display: block;
    font-size: 1.17em;
    list-style: none;
}
.nav-content {
    background-color: lightgray;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 20px;
    margin-bottom: 5px;
}
.nav-home {
    padding-left: 1em;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}

.nav-item {
    padding-left: 1em;
    list-style: none;
    text-decoration: none;
}

.site-content {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.as-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -15px;
    margin-bottom: 5px;
}

.as-input {
    margin-bottom: 2px;
}

.as-p {
    margin: 5px;
    margin-bottom: 10px;
}

.as-submit {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2px;
    margin-right: 10px;
}
