a {
    text-decoration: none;
    color: black;
}

.site-wrapper {
    background-color: grey;
}

.site-header {
    background-color: orange;
}

.site-nav {
    display: flex;
    font-size: 1.17em;
    background-color: aliceblue;
}

.nav-left {
    list-style: none;
}

.nav-right {
    display: flex;
    list-style: none;
}

.nav-home {
    font-weight: bold;
    text-decoration: none;
}

.nav-items {
    display: flex;
    padding-left: 1em;
}

